<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Job Tracker</title>
</head>
<body>
    <nav class="navbar">
         <h1>Job Tracker 9000</h1>
    </nav>
    <div class="stats_bar_count">
       <div class="stat_card">
           <p class="stat_number">{{ total }}</p>
           <p class="stat_label">Total Applications</p>
       </div>
       <div class="stat_card">
           <p class="stat_number">{{ applied }}</p>
           <p class="stat_label">Current Applications</p>
       </div>
       <div class="stat_card">
           <p class="stat_number">{{ interview }}</p>
           <p class="stat_label"> Total Interviews</p>
        </div>
        <div class="stat_card">
           <p class="stat_number">{{ rejected }}</p>
           <p class="stat_label">Total Rejected</p>
         </div>
        <div class="stat_card">
           <p class="stat_number">{{ ghosted }}</p>
           <p class="stat_label">Total Ghosted</p>
         </div>
         <div class="stat_card">
           <p class="stat_number">{{ offers }}</p>
           <p class="stat_label">Offers</p>
         </div>
         <div class="stat_card">
           <p class="stat_number">{{ withdrawn }}</p>
           <p class="stat_label">Withdrawn</p>
         </div>
    </div>
    <div class="stat_bar_rate">
        <div class="stat_card">
            <p class="stat_number">{{ rejection_rate }}</p>
            <p class="stat_label">Rejection rate %</p>
        </div>
        <div class="stat_card">
            <p class="stat_number">{{ interview_rate }}</p>
            <p class="stat_label">Interview rate %</p>
        </div>
        <div class="stat_card">
            <p class="stat_number">{{ response_rate }}</p>
            <p class="stat_label">Response rate %</p>
        </div>
    </div>
    <div class="charts_row">
       <div class="chart_container">
           <canvas id="statusChart"></canvas>
       </div>
       <div class="chart_container">
           <canvas id="app_bar"></canvas>
       </div>
    </div>
    <div class="filter_bar" id="time_filter_bar">
       <button onclick="changeTimeframe('D')" class="filter_button">Day</button>
       <button onclick="changeTimeframe('W')" class="filter_button">Week</button>
       <button onclick="changeTimeframe('M')" class="filter_button">Month</button>
    </div>

    <div class="filter_bar" id="industry_filter_bar">
        <button onclick="filterIndustry('all')" class="filter_button">All Industries</button>
        {% for industry in industry_list %}
            <button onclick="filterIndustry('{{ industry }}')" class="filter_button">{{ industry }}</button>
        {% endfor %}
    </div>
    <div class="filter_bar" id="source_filter_bar">
        <button onclick="filterSource('all')" class="filter_button">All sources</button>
        {% for source in source_list %}
            <button onclick="filterSource('{{ source }}')" class="filter_button">{{ source }}</button>
        {% endfor %}
    </div>

    <input type="text" class="search_box" id="search" placeholder="Search by company...">
    <div class="filter_bar" id="status_filter_bar">
       <button onclick="filterStatus('all')" class="filter_button">All</button>
       <button onclick="filterStatus('applied')" class="filter_button">Applied</button>
       <button onclick="filterStatus('interview')" class="filter_button">Interview</button>
       <button onclick="filterStatus('rejected')" class="filter_button">Rejected</button>
    </div>
    <button onclick="openDialog()" class="submit_button" id="toggle_button">+ Add Job</button>
    {% with messages = get_flashed_messages() %}
       {% if messages %}
           {% for message in messages %}
               <p class="flash_message">{{ message }}</p>
           {% endfor %}
       {% endif %}
    {% endwith %}
    {% if jobs %}
       <table class="maintable">
       <tr class="tablerow_header">
           <th onclick="sortTable(0)">Company ↕</th>
           <th onclick="sortTable(1)">Job Title ↕</th>
           <th onclick="sortTable(2)">Status ↕</th>
           <th onclick="sortTable(3)">Date ↕</th>
       </tr>
       {% for job in jobs %}
       <tr class="tablerow_job"
       onclick="openDetailsDialog(this.dataset)"
       data-company="{{ job.company }}"
       data-job-title="{{ job.job_title }}"
       data-status="{{ job.status }}"
       data-date="{{ job.date }}"
       data-industry="{{ job.industry }}"
       data-source="{{ job.source }}"
       data-location="{{ job.location }}"
       data-salary="{{ job.salary }}"
       data-contact-name="{{ job.contact_name }}"
       data-contact-email="{{ job.contact_email }}"
       data-closing-date="{{ job.closing_date }}"
       data-notes="{{ job.notes }}"
       data-job-url="{{ job.job_url }}">
       
            <td>{{ job.company }}</td>
            <td>{{ job.job_title }}</td>
            <td class="{% if job.ghosted %}status_ghosted{% else %}status_{{ job.status | lower }}{% endif %}">
                {% if job.ghosted %}
                     👻 Ghosted
                {% else %}
                     {{ job.status }}
                {% endif %}
                </td>
            <td>{{ job.date }}</td>
            <td>
                <button
                     onclick="event.stopPropagation(); openEditDialog({{ job.id }}, this.dataset)"
                     data-company="{{ job.company }}"
                     data-title="{{ job.job_title }}"
                     data-status="{{ job.status }}"
                     data-date="{{ job.date }}"
                     data-industry="{{ job.industry }}"
                     data-source="{{ job.source }}"
                     data-contact-name="{{ job.contact_name }}"
                     data-contact-email="{{ job.contact_email }}"
                     data-salary="{{ job.salary }}"
                     data-job-url="{{ job.job_url }}"
                     data-location="{{ job.location }}"
                     data-closing-date="{{ job.closing_date }}"
                     data-notes="{{ job.notes }}"
                     class="edit_form">Edit
                </button> 
            </td>
            <td>
               <form action="/delete" method="POST" class="del_form">
                  <input type="hidden" name="index" value="{{ job.id }}">
                  <button type="submit" class="delete_button" onclick="event.stopPropagation(); return confirm('Are you sure you want to delete this job?')">Delete</button>
               </form>
           </td>
       </tr>
       {% endfor %}
       </table>
    {% else %}
       <p class="empty_state">No jobs added yet. Add your first application below!</p>
    {% endif %}

    <dialog id="add_dialog">
        <form action="/add" method="POST" class="dialog_form">
         <div> 
            <label>Company Name *</label>
            <input type="text" name="company" placeholder="e.g Abc Ltd" class="company_input">
        </div>   
        <div>
        <label>Job Title *</label>
        <input type="text" name="title" placeholder="e.g Marketing Manager" class="job_title_input">
        </div>
        <div>
        <label>Job Status *</label>
        <select name="status" class="status">
            <option>Applied</option>
            <option>Interview</option>
            <option>Rejected</option>
            <option>Offer</option>
            <option>Withdrawn</option>
        </select>
        </div>
        <div>
        <label>Application Date *</label>
        <input type="date" name="date" class="date">
        </div>
        <div>
        <label>Industry</label>
        <select name="industry" placeholder="e.g Healthcare" class="industry">
            <option value="">Select Industry</option>
            <option>Pharmaceutical</option>
            <option>Biotech</option>
            <option>Chemical</option>
            <option>Food & Beverage</option>
            <option>Finance</option>
            <option>Technology</option>
            <option>Retail</option>
            <option>Hospitality</option>
            <option>Healthcare</option>
            <option>Academic/Research</option>
            <option>Engineering</option>
            <option>Legal</option>
            <option>Marketing</option>
            <option>Other</option>
        </select>
        </div>
        <div>
        <label>Job Source</label>
        <select name="source">
            <option value="">Select Source</option>
            <option>Indeed</option>
            <option>LinkedIn</option>
            <option>Company Website</option>
            <option>Friend/Referral</option>
            <option>Recruiter</option>
            <option>Other</option>
        </select>
        </div>
        <div>
        <label>Contact</label>
        <input type="text" name="contact_name" placeholder="e.g Joe Bloggs">
        </div>
        <div>
        <label>Contact Email</label>
        <input type="email" name="contact_email" placeholder="e.g Joe_Bloggs@comapny.com">
        </div>
        <div>
        <label>Salary Range</label>
        <input type="text" name="salary" placeholder="e.g. £30,000-£35,000">
        </div>
        <div>
        <label>Job URL</label>
        <input type="url" name="job_url" placeholder="http://company//Job_Apply//.com">
        </div>
        <div>
        <label>Job Location</label>
        <input type="text" name="location" placeholder="e.g. Remote, London">
        </div>
        <div>
        <label>Application Close Date</label>
        <input type="date" name="closing_date">
        </div>
        <div style="grid-column: span 3">
        <label>Notes</label>
        <textarea name="notes" placeholder="Type of role, description, close date etc..."></textarea>
        </div>
        <div style="grid-column: span 3">
        <button type="submit" class="submit_button" >Add Job</button>
        <button type="button" class="submit_button" onclick="closeDialog()">Cancel</button>
        </div>
        </form>
    </dialog>

    <dialog id="edit_dialog">
        <form action="/update" method="POST" class="dialog_form">
        <div>
        <label>Company Name *</label>
        <input type="text" id="edit_company" placeholder="e.g Abc Ltd"  name="company">
        </div>
        <div>
        <label>Job Title *</label>
        <input type="text" id="edit_title" placeholder="e.g Marketing Maanager" name="title">
        </div>
        <div>
        <label>Job Status *</label>
        <select id="edit_status" name="status">
            <option>Applied</option>
            <option>Interview</option>
            <option>Rejected</option>
            <option>Offer</option>
            <option>Withdrawn</option>
        </select>
        </div>
        <div>
        <label>Application Date *</label>
        <input type="date" id="edit_date" name="date">
        </div>
        <div>
        <label>Industry</label>
        <select id="edit_industry" name="industry">
            <option value="">Select Industry</option>
            <option>Pharmaceutical</option>
            <option>Biotech</option>
            <option>Chemical</option>
            <option>Food & Beverage</option>
            <option>Finance</option>
            <option>Technology</option>
            <option>Retail</option>
            <option>Hospitality</option>
            <option>Healthcare</option>
            <option>Academic/Research</option>
            <option>Engineering</option>
            <option>Legal</option>
            <option>Marketing</option>
            <option>Other</option>
        </select>
        </div>
        <div>
        <label>Job Source</label>
        <select id="edit_source" name="source">
            <option value="">Select Source</option>
            <option>Indeed</option>
            <option>LinkedIn</option>
            <option>Company Website</option>
            <option>Friend/Referral</option>
            <option>Recruiter</option>
            <option>Other</option>
        </select>
        </div>
        <div>
        <label>Contact Name</label>
        <input type="text" id="edit_contact_name" name="contact_name" placeholder="e.g Joe Bloggs">
        </div>
        <div>
        <label>Contact Email</label>
        <input type="email" id="edit_contact_email" name="contact_email" placeholder="e.g Joe_Bloggs@company.com">
        </div>
        <div>
        <label>Salary</label>
        <input type="text" id="edit_salary" name="salary" placeholder="e.g £30,000 - £35,000">
        </div>
        <div>
        <label>Job URL</label>
        <input type="url" id="edit_job_url" name="job_url" placeholder="e.g http://company//Job_Apply//.com">
        </div>
        <div>
        <label>Job Location</label>
        <input type="text" id="edit_location" name="location" placeholder="e.g Remote, London">
        </div>
        <div>
        <label>Application Close Date</label>
        <input type="date" id="edit_closing_date" name="closing_date">
        </div>
        <div style="grid-column: span 3">
        <label>Notes</label>
        <textarea id="edit_notes" placeholder="Type of role, description, close date etc..." name="notes"></textarea>
        </div>
        <input type="hidden" id="edit_index" name="index">
        <div style="grid-column: span 3">
        <button type="submit" class="submit_button">Update</button>
        <button type="button" class="submit_button" onclick="closeEditDialog()">Cancel</button>
        </div>
        </form>
    </dialog>

    <dialog id="details_dialog">
    <div class="dialog_form">
        <h2 id="details_company"></h2>
        <p><strong>Job Title:</strong> <span id="details_job_title"></span></p>
        <p><strong>Status:</strong> <span id="details_status"></span></p>
        <p><strong>Date:</strong> <span id="details_date"></span></p>
        <p><strong>Industry:</strong> <span id="details_industry"></span></p>
        <p><strong>Source:</strong> <span id="details_source"></span></p>
        <p><strong>Location:</strong> <span id="details_location"></span></p>
        <p><strong>Salary:</strong> <span id="details_salary"></span></p>
        <p><strong>Contact:</strong> <span id="details_contact"></span></p>
        <p><strong>Closing Date:</strong> <span id="details_closing_date"></span></p>
        <p><strong>Notes:</strong> <span id="details_notes"></span></p>
        <a id="details_url" href="" target="_blank" class="edit_form">🔗 View Job</a>
        <button type="button" class="submit_button" onclick="closeDetailsDialog()">Close</button>
    </div>
     </dialog>

<script>
    const applied = {{ applied }};
    const interview = {{ interview }};
    const rejected = {{ rejected }};
    const ghosted = {{ghosted}};
    const offers = {{offers}};
    const withdrawn = {{withdrawn}};
    const chartLabelsM = {{ chart_labels_M | tojson }};
    const chartDataM = {{ chart_data_M | tojson }};
    const chartLabelsW = {{ chart_labels_W | tojson }};
    const chartDataW = {{ chart_data_W | tojson }};
    const chartLabelsD = {{ chart_labels_D | tojson }};
    const chartDataD = {{ chart_data_D | tojson }};
</script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>